body{
	/*background-image: url("images/backgroundImage1.jpg");*/
	background-color: #2E64FE;
}

/*=========================================================================================*/
/*modificateurs de text (span)*/
.exposant{ 
	font-size: .7em; 
	line-height: .8em; 
}

.bold1{
	font-weight: bold;
}

.petitText{
	font-size: 75%;
}


/*=========================================================================================*/
/*header*/
.inPage{
	margin-right: 176px;/*Pour laisser de la place au menu vertical*/
}

/*=========================================================================================*/
/*header*/
header{
	display: flex;
	flex-direction: row;
}

.TitreNonIndex{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	color: white;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 20px; 
	width: 500px;
	height: 120px;
	background-color: #0000FF;/*Couleur figaro*/
	text-align: center;
}

.espacePourNav{/*Espace vide pour laisser de la place au menu*/
	width: 176px;
}



#TitreIndex{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	color: white;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 20px; 
	width: 500px;
	height: 170px;
	background-color: #0000FF;/*Couleur figaro*/
	text-align: center;
}


/*=========================================================================================*/
/*nav*/
nav{
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
}

nav ul{
	display: flex;
	padding: 0px;
	flex-direction: column;
	margin-right: 20px;
	text-align: center; /*pour centrer les texte dans les cases*/
}

nav li{
	display: block;/*Pour supprimer les point du unordered list*/
}

nav a, nav a:visited{
	display: block;
	padding: 10px;
	margin: 3px;
	width: 130px;/*Largeur des boutons*/
	background-color: #0000FF;
	border-style: outset;
	color: white;/*Couleur du cadre des boutons*/
	text-decoration: none;/*Pas de souslignage du text de la nav*/
}

nav a:hover, nav a:visited:hover{/*Souris au dessus d'un bouton*/
	text-decoration: none;/*Pas de souslignage du text de la nav*/
	background-color: rgb(101,147,100);
}

nav a.bontonNavSelected{/*Bouton selectionné*/
	background-color: rgb(101,147,100);
}




/*=========================================================================================*/
/*liens hypertext*/
a{
	color: blue;
	text-decoration: none;
}

a:hover{
	color: green;
	text-decoration: underline;
}

a:visited{
	color: #08088A;
	text-decoration: none;
}
	
	
	
/*=========================================================================================*/
/*accueil : index*/
#blocAccueil{
	display: flex;
	justify-content: space-around;
}

#imgAccueil{
	height: 300px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

#blocInfoAccueil{
	background-color: white;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	padding: 10px;
	margin: 0px;
	max-width: 400px;
}



/*=========================================================================================*/
/*les photos*/
.blocPhotos{
	margin-bottom: 0px;
	display: flex;
	flex-wrap: wrap;/*Pour que les photos passent à la ligne*/
	justify-content: center;/*Pour que les photos soient centrées dans le blocPhotos*/
}

.blocPhotos  img{
	height: 120px;
	margin: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

.blocPhotos span{
	position: absolute;
}

.unePhoto{
	display: flex;
	flex-direction: column;
}

.unePhoto div{
	color: red;
	margin: auto;
	display: flex;
	justify-content: center;
}

.unePhoto .definition{
	font-size: 70%;
	background-color: white;
	text-align: center;
	position: relative;
	bottom: 20px;
	padding: 2px;
}


/*=========================================================================================*/
/*affichage dynamic des images*/
#large {
	display: none;
	background: #FFFFFF;    
	padding: 5px;
	z-index: 10;
	color: #336699;
    min-height: 200px;
    min-width: 200px;
}
#large img{
	height: 600px;/* de l'image agrandie*/
}
#background{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000;    
	z-index: 1;
}



/*=========================================================================================*/
/*tableaux de réservation*/
.titreTableauResa{
	text-align: center;
	margin-bottom: 2px;
}

.titreTableauResa span{
	background-color: white;
	padding: 3px;
}

.tableauxResa{
	margin-bottom: 55px;/*Pour que le footer ne recouvre pas le tableau*/
}



/*=========================================================================================*/
/*blocs d'information*/
.blocInfo{
	background-color: white;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	width: 400px;
}

.blocInfo>:not(hr){/*Pour décoller tous les élements sauf <hr/>*/
	padding-left: 20px;
}

.blocInfo>ul{/*Pour décoller les points des ul*/
	padding-left: 40px;
}



/*=========================================================================================*/
/*vidéo*/
div.video{
	text-align: center;
}





/*=========================================================================================*/
/*footer*/
footer{
	background-color: #aaa;/*Du gris*/
	font-style:italic;
	font-size: small;
	text-align: center;/*Pour centrer le text*/
	width: 100%;/*Pour avoir toute la largeur de la page*/
	position: fixed;/*Pour le fixer sur l'écran*/
	bottom: 0px;/*Pour coller le footer en bas*/
	left: 0px;/*Pour coller le footer à gauche*/
}



