body{
	background-image: url("images/backgroundImage1.jpg");
}




/*=========================================================================================*/
/*header*/
.TitreNonIndex{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	color: white;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 20px; 
	width: 500px;
	height: 120px;
	background-color: #3d7acc;/*Couleur figaro*/
	text-align: center;
}

header h1{
	padding-top: 20px;
}

#TitreIndex{
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	color: white;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 20px; 
	width: 500px;
	height: 170px;
	background-color: #3d7acc;/*Couleur figaro*/
	text-align: center;
}


/*=========================================================================================*/
/*nav*/
nav{
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
}

nav ul{
	display: flex;
	padding: 0px;
	flex-direction: column;
	margin-right: 20px;
	text-align: center; /*pour centrer les texte dans les cases*/
}

nav li{
	display: block;/*Pour supprimer les point du unordered list*/
}

nav a, nav a:visited{
	display: block;
	padding: 10px;
	margin: 3px;
	width: 130px;/*Largeur des boutons*/
	background-color: rgb(101,147,254);
	border-style: outset;
	color: white;/*Couleur du cadre des boutons*/
	text-decoration: none;/*Pas de souslignage du text de la nav*/
}

nav a:hover, nav a:visited:hover{/*Souris au dessus d'un bouton*/
	text-decoration: none;/*Pas de souslignage du text de la nav*/
	background-color: rgb(101,147,100);
}

nav a.bontonNavSelected{/*Bouton selectionné*/
	background-color: rgb(101,147,100);
}




/*=========================================================================================*/
/*liens hypertext*/
a{
	color: blue;
	text-decoration: none;
}

a:hover{
	color: green;
	text-decoration: underline;
}

a:visited{
	color: #08088A;
	text-decoration: none;
}
	
	
	
/*=========================================================================================*/
/*contenu*/
.blocAccueil{
	text-align: center;
}
#imgAccueil{
	height: 320px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

.blocPhotos{
	margin-right: 176px;
	margin-bottom: 0px;
	display: flex;
	flex-wrap: wrap;
}

.blocPhotos  img{
	height: 120px;
	margin: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}

.blocPhotos span{
	position: absolute;
}

.unePhoto{
	display: flex;
	flex-direction: column;
}

.unePhoto div{
	color: red;
	margin: auto;
	display: flex;
	justify-content: center;
}

.unePhoto .definition{
	font-size: 70%;
	background-color: white;
	text-align: center;
	position: relative;
	bottom: 20px;
	padding: 2px;
}

.exposant{ 
	font-size: .7em; 
	line-height: .8em; 
}


.titreTableauResa{
	text-align: center;
}

.blocInfo{
	background-color: white;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin: auto;
	width: 400px;
}

div.video{
	text-align: center;
}

.tableauxResa{
	margin-bottom: 55px;
}




/*=========================================================================================*/
/*footer*/


footer{
	background-color: #aaa;
	font-style:italic;
	font-size: small;
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0px;
}



